<!doctype html>
<html>
<head>
    <title>Login App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><font color="#feffff">Login App</font></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span><font color="#feffff">Sign Up</font></a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span><font color="#feffff">Login</font></a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <div id="special" class="jumbotron text-center">
        <h1> A Simple Login App</h1>
        <p> Login App allows you to login and see your profile and also you can sign uo using social websites. Click Login or signup buttons and expirence the app. </p>
    </div>

    <p class="footer"> Login App &copy 2017 </p>


</div>
</body>
</html>
